services:
  db:
    image: postgres:16
    container_name: ml_postgres
    restart: always
    env_file:
      - .env  
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
      - ./sql:/docker-entrypoint-initdb.d:ro

    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 5s
      timeout: 5s
      retries: 20

  mlflow:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: mlflow_server
    restart: always
    env_file:
      - .env
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    command:
      [
        "mlflow",
        "server",
        "--host",
        "0.0.0.0",
        "--port",
        "5000",
        "--allowed-hosts",
        "localhost,localhost:5000,127.0.0.1,127.0.0.1:5000,mlflow,mlflow:5000",
        "--backend-store-uri",
        "postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@db:5432/${POSTGRES_DB}",
        "--default-artifact-root",
        "mlflow-artifacts:/",
        "--artifacts-destination",
        "file:/mlartifacts",
      ]
    ports:
      - "5001:5000"
    volumes:
      - ./mlartifacts:/mlartifacts
    depends_on:
      db:
        condition: service_healthy
    healthcheck:
      test: ["CMD", "python", "-c", "import urllib.request; urllib.request.urlopen('http://127.0.0.1:5000/').read(); print('ok')"]
      interval: 10s
      timeout: 5s
      retries: 20

  api:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: genre_api
    restart: always
    env_file:
      - .env
    environment:
      POSTGRES_HOST: db
      POSTGRES_PORT: "5432"
      MLFLOW_TRACKING_URI: http://mlflow:5000
      # Optional: pin a specific version. If omitted, API will load the latest.
      # MLFLOW_MODEL_VERSION: "1"
    command: ["uvicorn", "main:app", "--host", "0.0.0.0", "--port", "8000"]
    ports:
      - "8001:8000"
    volumes:
      - ./mlartifacts:/mlartifacts:ro
    depends_on:
      db:
        condition: service_healthy
      mlflow:
        condition: service_healthy

volumes:
  pgdata:
